body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height:1.5;
    color: #ffffff;

}

h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;

    background-image: url(https://media3.giphy.com/media/5bvOuWNmgp4mT6Gv9t/giphy.gif?cid=790b7611a3c1e79a0451dcbf1962a8035e57637557bf9073&rid=giphy.gif&ct=g);
    background-size: cover; 
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #212529;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 1.5;
    color: #8f8f8f;
}

#title{
    background-color: #f17569;
}

#logo{
    height: 39px;
    width: 39px;
}

.container-fluid{
    padding: 5% 15% 10%;
}

.tindog_img{
    height: 100px;
    width: 200px;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    color: beige;
}

.navbar-brand:hover{
    color: rgb(255, 255, 240);
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(253, 223, 186);
    margin: 0px 10px;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
}

.title-image {
    width: 18%;
    transform: rotate(20deg);
    position: absolute;
    right: 20%;
    /* top: 25%; */
}

@media(max-width: 992px) {
    .title-image {
    position: static;
    transform: rotate(0deg);
    width: 50%;
    padding-top: 50px;
    }

    #title{
        text-align: center;
    }

    h1{
        padding-bottom: 30px;
    }

    button{
        text-align: center;
    }
}

#features{
    padding: 7% 15%;
    background-color: rgb(232, 243, 243);
    position: relative;
    z-index: 1;
}

.feature_box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #f17569;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.icon:hover{
    color: #ff3a64;
}

#testimonials{
    background-color: #ff986f;
    text-align: center;
    color: #ffffff;
}

.testimonial-image{
    border-radius: 100%;
    width: 20%;
    margin: 10px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ff986f;
    text-align: center;
    padding-bottom: 7%;
}

.press_image{
    width: 15%;
    margin: 50px 20px 25px;
}

#pricing{
    background-color: #e8f3f3;
    text-align: center;
    padding: 90px ;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:992px) {
    .pricing-column {
        padding: 30px;
    }
}

#cta{
    background-color: #f17569;
    text-align: center;
    padding: 7% 15%;
}

.download_section{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height:1.5;
    padding-bottom: 20px;
    color: #fff;

    background-image: url(https://media3.giphy.com/media/5bvOuWNmgp4mT6Gv9t/giphy.gif?cid=790b7611a3c1e79a0451dcbf1962a8035e57637557bf9073&rid=giphy.gif&ct=g);
    background-size: cover; 
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#footer{
    background-color: #ebe2e2;
    text-align: center;
    padding: 7% 15%;
}
.social-icon-f {
    margin: 25px 20px;
    color: blue;
  }
  .social-icon-t {
    margin: 25px 20px;
    color: lightskyblue;
  }
  .social-icon-i {
    margin: 25px 20px;
    color: palevioletred;
  }
  .social-icon-e {
    margin: 25px 20px;
    color: purple;
  }
  
  .copyright {
    color: indigo;
  }

